body {
    background-color: #f7f2f2;
    font-family: sans-serif;
  }
  
  .converter {
    color: rgb(72, 174, 174);
    width: 500px;
    margin: 0 auto;
  }
  
  .input {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .output {
    font-weight: bold;
  }
  